{{ define "main" }}
  <div class="container">
    <h1>{{ .Title }}</h1>
    <dl>
      <dt>1</dt><dd>{{ .Params.q1 }}</dd>
      <dt>2</dt><dd>{{ .Params.q2 }}</dd>
      <dt>3</dt><dd>{{ .Params.q3 }}</dd>
      <dt>4</dt><dd>{{ .Params.q4 }}</dd>
      <dt>5</dt><dd>{{ .Params.q5 }}</dd>
      <dt>6</dt><dd>{{ .Params.q6 }}</dd>
      <dt>7</dt><dd>{{ .Params.q7 }}</dd>
      <dt>8</dt><dd>{{ .Params.q8 }}</dd>
      <dt>9</dt><dd>{{ .Params.q9 }}</dd>
      <dt>10</dt><dd>{{ .Params.q10 }}</dd>
    </dl>
  </div>
{{ end }}
